version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: node-react-rbac-server
    restart: unless-stopped
    ports:
      - "${PORT:-5000}:5000"
    environment:
      - NODE_ENV=production
      - PORT=${PORT:-5000}
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - app-network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        # - REACT_APP_API_URL=http://139.59.6.209:${PORT:-5000} - Without Reverse Proxy
        - REACT_APP_API_URL=/api
    container_name: node-react-rbac-client
    restart: unless-stopped
    ports:
      - "3001:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

